<div class="col-sm-12" ng-controller="step1">
    <div class="row">
        <h1>Vacation Form</h1>

        <h3>How many weeks of vacation do you plan to take?</h3>
        <form>
            <input type="text" ng-model="vacationData.name" > &nbsp; Your name <br>
            <input type="number" ng-model="vacationData.weeks" > &nbsp; week(s)
        </form>

        <h3>Summary</h3>
        <div  class="col-sm-4">
            <table class="table">
                <tr>
                    <td>Vacation Days:</td>
                    <td>{{vacationData.weeks}} weeks</td>
                    <!-- {{vacationData.weeks * 5}} days -->
                </tr>
                <tr>
                    <td>Sick time:</td>
                    <td>{{sickDays}} days</td>
                </tr>
                <tr>
                    <td>Total PTO:</td>
                    <td>{{vacationData.weeks + 2}} weeks</td>
                    <!-- {{vacationData.weeks * 5 + sickDays}} days -->
                </tr>

            </table>
        </div>
        <div class="clearfix"></div>
        <a ui-sref="step2">
            <button class="btn btn-primary">Next Step</button>
        </a>
    </div>
</div>
